<div id="navigation" class="sticky">
  <nav class="top-bar" aria-label="Primary navigation" data-topbar data-options="scrolltop: false">
    <ul class="title-area">
      <li class="name">
        <div class="site-brand"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
      </li>
      <li class="toggle-topbar toggle-topbar-click menu-icon">
        <a href="#primary-navigation" aria-controls="primary-navigation" aria-expanded="false"><span>Menu</span></a>
      </li>
    </ul>

    <section id="primary-navigation" class="top-bar-section">
      <ul class="left">
        {% for link in site.data.navigation %}
          {% if link.side == 'left' %}
            {% assign link_active = false %}
            {% if link.url == page.url or page.homepage == true and link.url == '/' %}{% assign link_active = true %}{% endif %}
            {% if page.collection == 'projects' and link.url == '/portfolio/' %}{% assign link_active = true %}{% endif %}
            <li{% if link_active %} class="active"{% endif %}>
              <a href="{% if link.url contains 'http' %}{{ link.url }}{% else %}{{ link.url | relative_url }}{% endif %}"{% if link_active %} aria-current="page"{% endif %}{% if link.url contains 'http' %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <ul class="right">
        {% for link in site.data.navigation %}
          {% if link.side == 'right' %}
            {% assign link_active = false %}
            {% if link.url == page.url %}{% assign link_active = true %}{% endif %}
            <li{% if link_active %} class="active"{% endif %}>
              <a href="{% if link.url contains 'http' %}{{ link.url }}{% else %}{{ link.url | relative_url }}{% endif %}"{% if link_active %} aria-current="page"{% endif %}{% if link.url contains 'http' %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>
